<div class="row">
  <div class="col-md-6">
    <h1>{{books.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!--<button type="button" class="btn btn-primary dropdown-toggle">Manage Books</button>-->
    <div class="d-flex menu">
      <button class="btn btn-primary" href="#">Add Author</button>
      <button class="btn btn-primary" href="#">Add Genre</button>
      <button class="btn btn-primary" href="#">Edit</button>
      <button class="btn btn-primary" href="#">Delete</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{books.desc}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Author
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Genre
  </div>
</div>
